@tailwind base;
@tailwind components;
@tailwind utilities;

body,
dialog {
	background-color: #fff2f1;
	color: #424651;
	/* @apply selection:bg-[#759FBC]/75; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-mono;
}
h1 {
	font-size: 3rem;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 0.05rem;
	@apply antialiased;
}
h2 {
	font-size: 2.25rem;
	line-height: 2.5rem;
	font-weight: 700;
	letter-spacing: 0.025rem;
	@apply text-4xl font-bold tracking-wide;
}

button,
input {
	outline-width: 0;
}

@layer components {
	.debug {
		@apply border border-red-600;
	}
}
